body {
  background: linear-gradient(360deg, #4F84C4, #00A591);
}

#navbar {

}

* {
  font-family: times;
  font-size: 20px;
  color: white;
}

.title {
  color: Aquamarine;
  font-family: Impact;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: bold;
  text-decoration: underline;
}

.author {
  color: deepskyblue;
  font-family: Impact;
  text-align: center;
  font-size: 25px;
}

.smtitles {
  font-family: Impact;
  align: center;
  font-size: 30px;
  position: relative;
}

.logos {
  height: 60px;
  width: 60px;
  border: 2px solid white;
  border-radius: 15px;
}
