body {
  background: linear-gradient(360deg, #4F84C4, #00A591);
}


p[style] {
  text-align: center;
  font-family: times;
  font-size: 22px;
  margin-right: 100px;
  margin-left: 100px;
}

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li a {
  display: block;
  text-align: center;
  font-family: impact;
}
#title_navbar {
  text-align: center;
  font-family: impact;
  display: block;
}

* {
  font-family: arial;
  font-size: 20px;
  color: white;
}

.title {
  color: Aquamarine;
  font-family: Impact;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: bold;
  text-decoration: underline;
}

.author {
  color: deepskyblue;
  font-family: Impact;
  text-align: center;
  font-size: 25px;
}

h3.smtitles {
  font-family: Impact;
  align: center;
  font-size: 30px;
  display: block;
  text-align: center;
}

img[title] {
  height: 80px;
  width: 80px;
  border: 2px solid white;
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#sclogo {
  height: 90px;
  width: 90px;
  border: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

table.center {
  margin-left:auto;
  margin-right:auto;
  border: 2px solid darkgrey;
}

table[class] {
  border-collapse: collapse;
  width: 800px;
}

table, th, td {
  border: 1px solid darkgrey;
}

th {
  background-color: gray;
  font-family: impact;
}

td {
  background-color: darkgrey;
}

tr td {
  text-align: center;
  font-family: Times;
}

.ranking {
  color: midnightblue;
}

#footer {
  text-align: center;
  display: block;
}

a:link {
    color: greenyellow;
}

a:visited {
    color: indigo;
}

a:hover {
    color: limegreen;
}
