body {
  background: linear-gradient(360deg, goldenrod, gold);
}

p[style]{
  font-family: times;
  font-size: 22px;
  margin-right: 100px;
  margin-left: 100px;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li a {
  display: block;
  text-align: center;
  font-family: impact;
}
#title_navbar {
  text-align: center;
  font-family: impact;
  display: block;
  color: black;
}

#sclogo {
  width: 90px;
  height: 90px;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#schomepage {
  font-style: italic;
  font-family: times;
}

* {
  font-family: times;
  font-size: 20px;
  color: black;
}

.features {
  font-family: times;
  font-size: 22px;
  color: black;
}

li i {
  color: black;
}

.title {
  color: orangered;
  font-family: Impact;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: bold;
  text-decoration: underline;
}

.author {
  color: chocolate;
  font-family: Impact;
  text-align: center;
  font-size: 25px;
}

h4.ftitles {
  font-family: Impact;
  align: center;
  font-size: 30px;
  display: block;
  text-align: center;
  color: orangered;
}

#pagefeat {
  width: 450px;
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 0px;
}

img[title] {
  height: 250px;
  width: 325px;
  border: 2px solid white;
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h3[style] {
  font-size: 30px;
  display: block;
  text-align: center;
  color: orangered;
}

#footer {
  text-align: center;
  display: block;
}

a:link {
    color: greenyellow;
}

a:visited {
    color: indigo;
}

a:hover {
    color: limegreen;
}
